.App {
  width: 80%;
  margin:0px auto;
}

h1 {
  text-align: center;
}

img { 
  width: 100%
}

.footer {
  border-top: 3px solid gray;
}

.footer h3 {
  text-align: center;
}

.menu {
  border-bottom:1px solid gray;
  margin: 30px 0px;
  padding: 20px 0px;
  padding: 20px 0px;
}

.menu a {
  color: gray;
  text-decoration: none;
  padding-left: 30px;
}

select {
  margin-right: 10px;
  padding: 5px 20px;
}

button {
  border: 1px solid gary;
  padding: 5px 20px;
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 30px 0px;
}

td {
  padding: 5px 10px;
  border-bottom: 1px solid gray;
}

thead {
  background-color: rgb(254, 255, 212);
}

a {
  text-decoration: none;
}

input {
  border:none;
  width: 100%;
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
}

.user {
  overflow: hidden;
  border-bottom: 1px dotted gray;
}
